html {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 5rem;
  margin: 0 auto;
  width: 600px;
}

.wrapper-form {
  display: flex;
  width: 100%;
}

.rm {
  background: red;
  color: #fff;
  border: none;
  cursor: pointer;
}

.done {
   text-decoration: line-through;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  width: 100%;
}

form > input {
  width: 90%;
  padding: .5rem 1rem;
  border: 1px solid #ccc;
}

.btn-add {
  display: block;
  margin: 10rem auto;
  width: 10rem;
  height: 2rem;
  background: blue;
  color: #ffffff;
  cursor: pointer;
}

